{% extends "bookings/layout.html" %}

{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <div class="alert {{message.tags}} m-2" id="msg" role="alert">
        {{ message }}
    </div>    
    {% endfor %} 
  </ul>
{% endif %}


  
    <h1>
    <div style="position:absolute;right:40px;top:70px;" > I accept the terms given by {{ off.party }}</div>
    </h1>
    <div style="position:absolute;top:100px;right:120px;">
        <a class="button" href="{% url 'contract' pk=off.pk %}" style= "position:relative;top:70px;">Accept</a>      
        <a class="button" href="{% url 'cancel_offer' pk=off.pk %}" style= "position:relative;top:70px;">Cancel</a>
    </div>



{% endblock %}