{% extends "bookings/layout.html" %}

{% block content %}

{% if artist_founded %}
  <ul>
  {% for artist in artist_founded %}
      <h5>
      <a style="position:relative;left:170px;color:black;font-family:impact;font-size:30px;" href="{% url 'artist_profile' pk=artist.pk %}">{{ artist.name }}</a>
      {% if artist.photo %}
      <img src="{{ artist.photo.url }}" width="100" height="100" class="avatarImage" style="position:relative;right:130px;color:black;"/> 
      {% endif %} 
      </h5>
  {% endfor %}
  </ul>
{% else %}
  <p>No artist founded.</p>
{% endif %}

{% endblock %}