{% extends "bookings/layout.html" %}

{% block content %}

  {% if messages %}
  <ul class="messages">
     {% for message in messages %}
  <div class="alert {{message.tags}} m-2" id="msg" role="alert">
      {{ message }}
  </div>    
  {% endfor %} 
  </ul>
  {% endif %}


   <ul>
       {% for off in p %}
            {% if off.artist in roster %}
               <h6>
                  <div style="position:absolute;top:80px;left:120px;">
                    <div style="font-size:50px;font-family:impact;position:relative;bottom:35px;">  
                    <a>{{ off.artist.name }}</a>
                    </div> 
                    <div style="font-size:25px;font-family:impact;position:relative;bottom:35px;">  
                    <a>Interested: {{ off.party }}</a>
                    </div>
                    <div style="font-size:25px;font-family:impact;position:relative;bottom:35px;">    
                    <a> Date: {{ off.date }}</a>
                    </div>
                    <div style="font-size:25px;font-family:impact;position:relative;bottom:35px;">    
                    <a>Fee: ${{ off.fee }}</a>
                    </div>  
                    <div style="font-size:25px;font-family:impact;position:relative;bottom:35px;">  
                    <a>Hosting: ${{ off.hosting }}</a>
                    </div>  
                  </div>  
                    <div style="position:absolute;top:280px;left:200px;">
                      <a class="button" href="{% url 'accept_offer' pk=off.pk %}" style= "position:relative;top:70px;">Accept</a>
                      <a class="button" href="{% url 'cancel_offer' pk=off.pk %}" style= "position:relative;top:70px;">Cancel</a>
                    </div>
               </h6>
            {% endif %}     
        {% endfor %}
     
   </ul>

   <div style="position:relative;left:210px;top:50px;" >
      <ul class="pagination">
        <li class="page-item">
            {% if p.has_previous %}
               <a href="{% url 'all_offers' %}?page={{p.previous_page_number}}">Previous Page</a>
            {% endif %} 
        </li>
        <li class="page-item">
           {% if p.has_next %}
              <a href="{% url 'all_offers' %}?page={{p.next_page_number}}">Next Page</a> 
           {% endif %}
        </li>
      </ul>
    </div> 

{% endblock %}