{% extends "bookings/layout.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="alert {{message.tags}} m-2" id="msg" role="alert">
      {{ message }}
  </div>    
  {% endfor %} 
</ul>
{% endif %}


 <h1>
 <div style= "position:relative;top:40px;"> 
      {{ ur.username }}
 </div> 
 </h1>
 <h3>
 <div style= "position:relative;top:80px;"> 
     Roster      
 </div> 
 </h3>

 <div style="position:relative;top:80px;">
    {% for ar in p %}
      <h5>       
       <a href="{% url 'artist_info' pk=ar.pk %}" style="position:absolute;left:320px;top:55px;color:black;font-family:impact;font-size:30px;">{{ ar.name }}</a>
      {% if ar.photo %}
       <img src="{{ ar.photo.url }}" width="100" height="100" class="avatarImage" style="position:absolute;left:80px;"/> 
      {% endif %} 
      </h5>
    {% endfor %}  
 </div>

 <div style="position:relative;left:170px;top:150px;" >
  <ul class="pagination">
    <li class="page-item">
        {% if p.has_previous %}
           <a class="previous round" href="{% url 'user_profile' %}?page={{p.previous_page_number}}">&#8249;</a>
        {% endif %} 
    </li>
    <li class="page-item">
       {% if p.has_next %}
          <a class="next round" href="{% url 'user_profile' %}?page={{p.next_page_number}}">&#8250;</a> 
       {% endif %}
    </li>
  </ul>
</div> 

{% endblock %}