body{
     background: #ffffff;
     color: #000001;
     margin-top: 5rem;
    }
  
p{
  color:#000001;
  font-family:Impact,fantasy;
  font-size:25px;
  }    

.header{
    color:#000001;
    font-family:Impact,fantasy;
    font-size:50px;
  } 

h1{
    color:#000001;
    font-family:Impact,fantasy;
    font-size:30px;
  }


h6 {
    border: 5px solid black;
    height: 500px;
    padding: 15px 50px 75px 110px;
    position: relative;
    top: 51px;
    left:165px;
   }

h3{
    color:#5bc1a4;
    font-family:Impact,fantasy;
    font-size:60px;
    text-shadow: -8px 0 black, 0 8px black, 8px 0 black, 0 -8px black;
  }

h4{
    color: white;
    font-family:Impact,fantasy;
    font-size:30px;
  }

h5 {
    border: 5px solid black;
    height: 200px;
    padding: 15px 50px 75px 110px;
    position: relative;
    top: 51px;
    left:165px;
   }

.button {
    background-color: #5bc1a4; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-family:Impact,fantasy;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid black;
  }
.button-close {
    background-color: black; 
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-family:Impact,fantasy;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border: 5px solid black;
  }

.button-offer {
    background-color: #000000; 
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    font-family:Impact,fantasy;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 5px solid black;
  }
 
.button-search{
    background-color: #000000;
    border:none;
    padding:3px 10px;
    color:white;
    text-align:center;
    font-family:Impact,fantasy; 
    font-size: 16px;
}

.bg-steel {
    background-color:#ffffff;
    border-bottom: 5px solid black;
  }
  
.site-header .navbar-nav .nav-link {
    color: #000001;
  }
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 3px solid #000001;
    border-radius: 3px;
    margin-bottom: 20px;
}
  
.article-title {
    color: #000001;
}
  
a.article-title:hover {
    color: #000001;
    text-decoration: none;
}
a{
  color:black;
  background-color: transparent;
}
  
.article-content {
    white-space: pre-line;
}
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 3px solid #000001;
}
  
.article-metadata a:hover {
    color:#000001;
    text-decoration: none;
}
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}
  
.logo {
        height: 50px;
        padding-right: 15px;
        padding-left: 20px;
        
}
  
.btn-primary {
    color: #212529;
    background-color: #000;
    border-color: #000;
}
  
.resizable {
    resize: both;
    overflow: scroll;
    object-fit: cover;
}
   
small{
    height:  100px; 
    width:  100px;
}
  
.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
  
img {
    max-width: 100%;
    height: auto;
}

.avatarImage {
    vertical-align: middle;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border:3px solid black;
    margin: 10px;
} 

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
a:hover {
    background-color: #ddd;
    color: black;
  }
  
.previous {
    background-color: #f1f1f1;
    color: black;
  }
  
.next {
    background-color: black;
    color: white;
  }
  
.round {
    border-radius: 50%;
  }

.notification {
    background-color:white;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }  