{% extends "layout.html" %}
{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="alert {{message.tags}} m-2" id="msg" role="alert">
      {{ message }}
  </div>    
  {% endfor %} 
</ul>
{% endif %}


<div class="mb-3">
   <div class="container-profile">
     <div class="info-event">
       <form method='POST' enctype="multipart/form-data">  
        {% csrf_token %}
           <h6>{{ form.as_p }}</h6> 
        <input class='button' type='submit' value='Add artist'/> 
       </form>
     </div>  
   </div>
</div>   


<!-- before unload to notify the user that the data will be lost -->

<script type="text/javascript">
     var formSubmitting = false;
     var setFormSubmitting = function() { formSubmitting = true; };
  
     window.onload = function() {
     window.addEventListener("beforeunload", function (e) {
          if (formSubmitting==false) {
              return undefined;
          }
  
          var confirmationMessage = 'It looks like you have been editing something. '
                                  + 'If you leave before saving, your changes will be lost.';
  
          (e || window.event).returnValue = confirmationMessage; //Gecko + IE
          return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
      });
    };

  </script>

{% endblock %}