{% extends "layout.html" %}

{% block content %}

 {% if messages %}
 <ul class="messages">
   {% for message in messages %}
   <div class="alert {{message.tags}} m-2" id="msg" role="alert">
       {{ message }}
   </div>    
   {% endfor %} 
 </ul>
 {% endif %}


 <div class="container">
     <div class="column" id="content-char">
              {% for artist in p %}
               <div class="content">
                   <a class="artist-name" id="name-artist" href="{% url 'artist_profile' pk=artist.pk %}">{{ artist.name }}</a>
                   {% if artist.photo %}
                     <img class="avatarImage artist-photo" src="{{ artist.photo.url }}" width="100" height="100"/>  
                   {% endif %} 
               </div>    
              {% endfor %}
     </div> 
     <div class=container-pagination>
         <ul class="pagination">
           <li class="page-item">
               {% if p.has_previous %}
                  <a class="previous round" href="{% url 'index' %}?page={{p.previous_page_number}}">&#8249;</a>
               {% endif %} 
           </li>
           <li class="page-item">
              {% if p.has_next %}
                 <a class="next round" href="{% url 'index' %}?page={{p.next_page_number}}">&#8250;</a> 
              {% endif %}
           </li>
         </ul>
      </div> 
  </div>
  
  

{% endblock %}